.page{
    margin-top: 20px;
}
h2{
    color: #11866b;
    font-size: 50px;
}

.form{
   margin-top: 30px;
   padding: 10px 15px;
}

.input{
    border-radius: 5px;
    box-shadow: inset 5px;
    border: #11866b;
}

.main{
    width: 40%;
    margin: 120px auto;
}

#uname, #pswd{
    padding: 8px;
}

p{
    text-decoration: none;
}

p a{
    color: #11866b;
}
